/***
 * Animation
 *    ¬¬¬¬/$$$$$¬¬/$$$$$$¬¬/$$¬¬¬¬/$$¬/$$$$$$$¬
 *    ¬¬¬|__¬¬$$¬/$$__¬¬$$|¬$$¬¬¬|¬$$|¬$$__¬¬$$
 *    ¬¬¬¬¬¬|¬$$|¬$$¬¬\¬$$|¬$$¬¬¬|¬$$|¬$$¬¬\¬$$
 *    ¬¬¬¬¬¬|¬$$|¬$$$$$$$$|¬¬$$¬/¬$$/|¬$$$$$$$/
 *    ¬/$$¬¬|¬$$|¬$$__¬¬$$¬\¬¬$$¬$$/¬|¬$$__¬¬$$
 *    |¬$$¬¬|¬$$|¬$$¬¬|¬$$¬¬\¬¬$$$/¬¬|¬$$¬¬\¬$$
 *    |¬¬$$$$$$/|¬$$¬¬|¬$$¬¬¬\¬¬$/¬¬¬|¬$$¬¬|¬$$
 *    ¬\______/¬|__/¬¬|__/¬¬¬¬\_/¬¬¬¬|__/¬¬|__/
 */
.image_rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
